@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Source+Serif+Pro:wght@700&display=swap');


body {
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-family: 'Source Serif Pro', serif;
}


#parrafo {

font-weight:300;

}

